<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <div th:replace="~{/fragments/main-fragments :: head}"></div>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <script>
                                function checkEmail() {
                                    const email = $('#exampleInputEmail').val();
                                    $.ajax({
                                        url:'/members/check_email',
                                        type:'post',
                                        data:{email:email},
                                        success:function(cnt){
                                            if(cnt == 0){
                                                $('.email_ok').css("display", "inline-block");
                                                $('.email_already').css('display', 'none');
                                            } else {
                                                $('.email_already').css('display', "inline-block");
                                                $('.email_ok').css("display", 'none');
                                            }
                                        },
                                        error:function () {
                                            alert("에러입니다");
                                        }
                                    })
                                }
                                function checkMobile() {
                                    const mobile = $('#exampleInputMobile').val();
                                    if (mobile.length != 13) {
                                        $('.mobile_already').css('display', "inline-block");
                                        $('.mobile_ok').css("display", 'none');
                                    }
                                    else
                                        $.ajax({
                                            url:'/members/check_mobile',
                                            type:'post',
                                            data:{mobile:mobile},
                                            success:function(cnt){
                                                if(cnt == 0){
                                                    $('.mobile_ok').css("display", "inline-block");
                                                    $('.mobile_already').css('display', 'none');
                                                } else {
                                                    $('.mobile_already').css('display', "inline-block");
                                                    $('.mobile_ok').css("display", 'none');
                                                }
                                            },
                                            error:function () {
                                                alert("에러입니다");
                                            }
                                        })
                                }
                            </script>
                            <form class="user" th:action="@{'/members/register'}" th:object="${member}" th:method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" name="name" th:field="*{name}" class="form-control form-control-user" id="exampleFirstName"
                                               placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="email" name="email" th:field="*{email}" class="form-control form-control-user email_" id="exampleInputEmail"
                                               placeholder="Email Address" oninput="checkEmail();">
                                    </div>
                                    <div class="col-sm-6">
                                        <span class="email_ok" style="display: none">ok : 사용 가능</span>
                                        <span class="email_already" style="display: none">check : 사용 불가능</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" name="mobile" th:field="*{mobile}" class="form-control form-control-user" id="exampleInputMobile"
                                               placeholder="Mobile" oninput="checkMobile();">
                                    </div>
                                    <div class="col-sm-6">
                                        <span class="mobile_ok" style="display: none">ok : 사용 가능</span>
                                        <span class="mobile_already" style="display: none">check : 사용 불가능</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="zipcode" th:field="*{zipcode}" class="form-control form-control-user"
                                           placeholder="Zipcode">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" th:field="*{pw}" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <input type="submit" value="Register Account" class="btn btn-primary btn-user btn-block" />
                                <hr>
                                <a href="/" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="/" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/members/forgot-password">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/members/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="~{/fragments/main-fragments :: tail}"></div>

</body>

</html>