<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Home - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item" th:if="${session?.me?.email == 'admin201912024@induk.ac.kr'}">
                            <a class="nav-link" href="/members">
                                MemberList
                            </a>
                        </li>
                        <li class="nav-item" th:if="${session?.me}">
                            <a class="nav-link" href="/members/logout">
                                Logout
                            </a>
                        </li>
                        <li class="nav-item" th:if="${session?.me}">
                            <a class="nav-link" href="/boards/reg-form">
                                Board Register
                            </a>
                        </li>
                        <li class="nav-item" th:unless="${session?.me}">
                            <a class="nav-link" href="/members/login">
                                Login
                            </a>
                        </li>
                        <li class="nav-item" th:unless="${session?.me}">
                            <a class="nav-link" href="/members/reg-form">
                                Register
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/boards">
                                Board
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Blog Home!</h1>
                    <p class="lead mb-0">A Bootstrap 5 starter layout for your next blog homepage</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">

                    <form class="mb-4" th:action="@{'/boards'}" th:object="${pageRequestDTO}" th:method="get">
                        <select name="type" th:field="*{type}">
                            <option th:selected="${pageRequestDTO.type == null}" value="">--------</option>
                            <option th:selected="${pageRequestDTO.type == 't'}" value="t">title</option>
                            <option th:selected="${pageRequestDTO.type == 'c'}" value="c">content</option>
                            <option th:selected="${pageRequestDTO.type == 'w'}" value="w">email</option>
                            <option th:selected="${pageRequestDTO.type == 'm'}" value="m">mobile</option>
                        </select>

                        <input type="text" th:value="${pageRequestDTO.keyword}" th:field="*{keyword}">
                        <input type="submit" value="Submit">
                    </form>

                    <div class="row">
                        <!-- Blog post-->
                        <div class="col-lg-6" th:each="board : ${list.dtoList}">
                            <div class="card mb-4">
                                <a th:href="@{'/boards/' + ${board.bno}}"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted"><span th:text="${board.regDate}" ></span></div>
                                    <div class="small text-muted"><span th:text="${board.replyCount}" ></span></div>
                                    <h2 class="card-title h4"><span th:text="${board.title}" ></span></h2>
                                    <p class="card-text"><span th:text="${board.content}" ></span></p>
                                    <a class="btn btn-primary" th:href="@{'/boards/' + ${board.bno}}">Read more →</a>
                                    <a class="btn btn-primary" th:href="@{'/boards/modi-form/' + ${board.bno}}"
                                       th:if="${session?.me?.name == board.writerName}">Modify</a>
                                    <a class="btn btn-primary" th:href="@{'/boards/delete/' + ${board.bno}}"
                                       th:if="${session?.me?.name == board.writerName}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination-->
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                                Showing <span th:text="${(list.curPage - 1) * list.size + 1}"></span>
                                to <span th:text="${list.curPage * list.size}"></span>
                                of <span th:text="${list.totalRows}"></span> entries
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous" id="dataTable_previous">
                                        <a href="#" th:href="@{${list.prevLink}}"
                                           aria-controls="dataTable" data-dt-idx="0" tabindex="0"
                                           th:if="${list.prev}" class="page-link">Previous</a></li>
                                    <li class="paginate_button page-item" th:classappend="${page.page == list.curPage ? ' active' : ''}" th:each="page : ${list.pageList}">
                                        <a href="#" th:href="@{${page.pageLink}}"
                                           aria-controls="dataTable" data-dt-idx="1" tabindex="0"
                                           class="page-link">[[${page.page}]]</a>
                                    </li>
                                    <li class="paginate_button page-item next" id="dataTable_next">
                                        <a href="#" th:href="@{${list.nextLink}}"
                                           aria-controls="dataTable" data-dt-idx="2" tabindex="0"
                                           th:if="${list.next}" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
